<ion-content class="login-background">
  <div class="login-container">
    <div class="responsive-container">
      <div class="form-card">
      <div class="top-banner">
        <div class="menu-brand">
          <ion-icon [icon]="icons.peopleOutline"></ion-icon>
          <div class="brand-text">
            <strong>GEOTOURIST</strong>
            <span style="display: block; margin-top: 6px;">CONTADOR TURÍSTICO</span>
          </div>
        </div>
      </div>

      <div class="form-content">
        
        @if (!isLogin()) {
          <div class="input-group">
            <label class="input-label">NOMBRE COMPLETO:</label>
            <div class="custom-input-wrapper">
              <ion-icon [icon]="icons.personOutline"></ion-icon>
              <ion-input type="text" placeholder="Juan Perez" [(ngModel)]="nombreCompleto"></ion-input>
            </div>
          </div>

          <div class="input-group">
            <label class="input-label">TELÉFONO (Opcional):</label>
            <div class="custom-input-wrapper">
              <ion-icon [icon]="icons.callOutline"></ion-icon>
              <ion-input type="tel" placeholder="1234567890" [(ngModel)]="telefono"></ion-input>
            </div>
          </div>

          <div class="input-group">
            <label class="input-label">FECHA DE NACIMIENTO:</label>
            <div class="custom-input-wrapper">
              <ion-icon [icon]="icons.calendarOutline"></ion-icon>
              <ion-input type="date" [(ngModel)]="fechaNacimiento"></ion-input>
            </div>
          </div>
        }

        <div class="input-group">
          <label class="input-label">CORREO:</label>
          <div class="custom-input-wrapper">
            <ion-icon [icon]="icons.mailOutline"></ion-icon>
            <ion-input type="email" placeholder="correo@gmail.com" [(ngModel)]="email"></ion-input>
          </div>
        </div>

        <div class="input-group">
          <label class="input-label">CONTRASEÑA:</label>
          <div class="custom-input-wrapper">
            <ion-icon [icon]="icons.lockClosedOutline"></ion-icon>
            <ion-input type="password" placeholder="••••••••" [(ngModel)]="password"></ion-input>
            <ion-icon [icon]="icons.eyeOutline" class="eye-icon"></ion-icon>
          </div>
        </div>

        <ion-button expand="block" class="login-btn" (click)="handleAuth()">
          {{ isLogin() ? 'Iniciar Sesión' : 'Crear Cuenta' }} <ion-icon [icon]="icons.chevronForwardOutline"></ion-icon>
        </ion-button>

        <div class="toggle-mode-container" style="text-align: center; margin-top: 25px;">
          <a (click)="toggleMode()" style="cursor: pointer; color: var(--ion-color-primary, #006b44); font-size: 0.95rem; font-weight: 600;">
            {{ isLogin() ? '¿No tienes cuenta? Regístrate aquí' : '¿Ya tienes cuenta? Inicia sesión' }}
          </a>
        </div>

      </div>
    </div>
    </div>
  </div>
</ion-content>